#dicks
  - @dicks.each do |dick|
    .dick= dick
#api
  %ul
    %li
      %a(href="/9.xml" title="Render dicks in XML format (Enterprisey)") XML
    %li
      %a(href="/8.json" title="A much lighter weight API for your dicks") JSON
    %li
      %a(href="/7.yaml" title="Great for importing dicks into Ruby on Rails") YAML
    %li
      %a(href="/6.txt" title="Just the plain old text") Text
  %p
    %a(href="/business_development") Want more formats?
- if @default
  #info
    %p
      More ASCII dongs?
      Peep at
      = succeed "," do
        %a(href="/10" title="10 of 'em")> 10
      = succeed "," do
        %a(href="/42" title="42 dicks is the answer.")> 42
      or even
      = succeed "." do
        %a(href="/100" title="You can have up to 9999 dicks. NO MORE!")> 100 dicks
    %p
      View the
      %em slightly more complex than should really be necessary
      = succeed "." do
        %a{:href => "http://github.com/martinemde/dicks", :title => "Dicks on github"} source on github
    %p
      Follow
      %a{:href => "http://twitter.com/dicksapi", :title => "Dicks on Twitter"} @dicksapi
      and me
      = succeed "." do
        %a{:href => "http://twitter.com/martinemde", :title => "Why did I make this again?"} @martinemde
